# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Experiment artifacts
artifacts/

# Models
models/

# IDE
.idea/

# Trash
.trash/

# Data tracked by DVC
data/raw/*.csv
!data/raw/healthcare-dataset-stroke-data.csv
data/prepared/